<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>


<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyCEb6SDLKIy_iFKRv42_GcYLkQK1b1culI",
        authDomain: "fastparcel-ad5d0.firebaseapp.com",
        projectId: "fastparcel-ad5d0",
        storageBucket: "fastparcel-ad5d0.appspot.com",
        messagingSenderId: "1067918440460",
        appId: "1:1067918440460:web:a9ced16acf1142534b1629"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>